<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Inscritos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_form.css') }}">
</head>
<body>
    <header>
        <h1>Listado de Inscritos</h1>
    </header>
    <main>
        <a href="{{ url_for('registro_seminario') }}">Nuevo</a>
        <!-- <h2>Listado de inscritos</h2> -->
        <table border="1">
            <thead>
            <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Turno</th>
                <th>Seminarios</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for inscrito in inscritos %}
            <tr>
                <td>{{ inscrito.id }}</td>
                <td>{{ inscrito.fecha }}</td>
                <td>{{ inscrito.nombre }}</td>
                <td>{{ inscrito.apellidos }}</td>
                <td>{{ inscrito.turno }}</td>
                <td>{{ inscrito.seminarios }}</td>
                <td>
                    <a href="{{ url_for('editar_inscrito', index=loop.index0) }}">Editar</a>
                    <a href="{{ url_for('eliminar_inscrito', index=loop.index0) }}" onclick="return confirm('¿Estás seguro de que deseas eliminar este inscrito?');">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        
    </main>
</body>
</html>
